@media screen and (max-width: 2500px) and (min-width: 2000px), (min-width: 2500px){
    
    .hero-text-cont {
        margin-top: 10rem;
    }
    .hero-text-cont h1 {
        font-size: 6rem;
        margin-bottom: 2rem;
    }
    .hero-text-cont h4 {
        font-size: 1.7rem;
    }
    .hero-text-cont p {
        font-size: 1.2rem;
    }
    .side-text {
        font-size: 1rem;
        font-weight: 600;
        width: 50%;
    }
    .side-text a {
        margin-right: 3rem;
    }

    /* Section 2 */

    #section-2 {
        /* height: 850px; */
        padding: 7rem 0 ;
    }
    .section-2-left-cont {
        width: 80%;
        margin-left: 2rem;
        justify-content: space-around;
    }
    .two-phones-cont {
        width: 60%;        text-align: center;
    }
    .section-2-text-cont {
        width: 40%;
        text-align: justify;
    }
    .section-2-text-cont p {
        width: 75%;
        font-size: 1.5rem;
    }
    .section-2-left-cont .two-phones-cont img{
        width: 30%;
    }
    .section-2-text-cont h2 {
        margin-bottom: 1rem;
        font-size: 4rem;
    }
    /* .side-cards {
        width: 25%;
        position: absolute;
    } */

    /* About section */

    #about {
        padding: 10rem;
        color: #fff;
    }
    #about h3{
        font-size: 2rem;
        line-height: 1.5;
    }
    #about p{
        font-size: 1.5rem;
    }

    /* Quote section */

    #quote {
        /* height: 300px; */
        padding: 5rem 0;
    }      
    #quote h3{
        font-size: 2rem;
    }
    #quote .auote-author p {
        font-size: 1.2rem;
    }    
    
    /* Project-phase */

    #project-phase {
        padding: 7rem 0;
    }
    .phases h4 {
        margin-bottom: 6rem;
        font-size: 2rem;
    }
    .phases-cont {
        width: 70%;
    }
    .phase {
        height: 250px;
        width: 250px;
        padding: 2rem 0;
        border-radius: 9px;
        margin-bottom: 6rem;
    }
    .phases-cont {
        font-size: 1.2rem;
    }

    /* Research Phase */

    .research-cont, .persona-cont, .Prototype-cont, .Testing-cont  {
        width: 70%;
        margin-top: 10rem;
    }
    .research-img, .persona-img, .Prototype-img, .Testing-img {
        flex-basis: 60%;
    }
    .research-img img, .persona-img img, .Prototype-img img, .Testing-img img {
        width: 80%;
    }
    .research-text, .persona-text, .Prototype-text, .Testing-text {
        flex-basis: 40%;  
    }
    .persona {
        text-align: right;
    }

    /* Design system header */

    .design-system-header{
        padding: 5rem 0;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 5rem;
    }
    .design-sys-1, .design-sys-2, .design-sys-3 {
        width: 70%;
        margin-bottom: 3rem;
    }
    .typography-cont {
        flex-basis: 45%;
    }
    .iconography-cont {
        flex-basis: 45%;
    }
    .typography-cont p, .iconography-cont p, .buttons-cont p, .colors-cont p{
        width: 90%;
        margin-bottom: 2rem;
        font-size: 1.2rem;
        line-height: 1.5;
    }

     /* Dashboard system header */
    #dashboard {
        /* height: 800px; */
        padding: 3rem 0;
    }
    .dashboard-cont, .payment-cont, .shopping-cont{
        width: 70%;
    }
    .dashboard-img-cont {
        /* background-color: navy; */
        flex-basis: 60%;
        text-align: center;
    }
    .dashboard-img-cont .dashboard-img{
        width: 50%;
    }
    .dashboard-text, .payment-text {
        /* background-color: rgb(128, 115, 0); */
        flex-basis: 45%;
    }
    /* shopping */
    #payments {
        padding: 10rem 0;
    }
    .shopping-text h1 {
        width: 80%;
    }
    .shopping-text p {
        width: 78%;
    }
    .shopping-img img{
        width: 90%;
    }
    .payment-img img {
        width: 70%;
    }

    /* Location section */

    #location {
        /* height: 800px; */
        padding: 5rem 0 10rem 0;
    }
    #location h3 {
        margin-bottom: 4rem;
        line-height: 1.5;
    }
    .location-img-cont {
        justify-content: space-between;
        width: 70%;
    }
    .location-img-cont .location-phone img {
        width: 100%;
    }

    /* cards section */

    #cards {
        /* height: 800px; */
        padding: 7rem 0;
    }
    #cards h1{
        margin: 6rem 0 2rem 8rem;
        line-height: 1.5;
        font-size: 5rem;
        font-weight: 700;
        margin-left: 14rem;
    }
    #cards p{
        width: 30%;
        margin-left: 14rem;
        font-size: 1.5rem;
    }

    /* support section */

    #support {
        height: 800px;
        padding: 7rem 0;
    }
    .support-img-cont {
        width: 70%;
    }
    .support-img-cont .support-phone img {
        width: 100%;
    }

    /* other screen heeader*/
    #other-screens{
        padding: 5rem 0;
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* Other screens */
    #screens {
        background-color: #66C5E4;
        padding: 7rem 0;
    }
    .screens-cont {
        width: 70%;
    }
    
    /* footer section */

    #footer {
        padding: 10rem 0 2rem 0;
    }
    #footer h3 {
        font-size: 3rem;
    }
    #footer img {
        width: 70%;
    }

}


@media screen and (max-width: 1999px) and (min-width: 1474px){

     /* Section 2 */

    #section-2 {
        /* height: 700px; */
        background-image: url(img/blue-bg-new-1071px.jpg);
        padding: 6rem 0 6rem 0;
    }
    .two-phones-cont {
        text-align: center;
    }
    .section-2-left-cont .two-phones-cont img{
        width: 40%;
    }
    .section-2-text-cont h2 {
        font-size: 3rem;
    }

    /* Research Phase */

    .persona {
        text-align: right;
    }

    /* Design system header */

     .design-system-header{
        margin-bottom: 2rem;
    }

    /* Dashboard */

    #dashboard {
        /* height: 700px; */
        padding: 1rem 0 3rem 0;
    }
    .dashboard-img-cont {
        text-align: center;
    }
    .dashboard-img-cont .dashboard-img{
        width: 70%;
    }

    /* Payment section */

    #payments {
        padding: 7rem 0;
    }
    .shopping-img img{
        width: 90%;
    }
    .payment-img img {
        width: 70%;
    }

    /* crads section */
    #cards p{
        width: 40%;
        font-size: 1.5rem;
    }

    /* support section */
    .support-img-cont {
        width: 70%;
    }
    .support-img-cont .support-phone img {
        width: 100%;
    }
}

@media(max-width: 1332px){

    
    .section-2-left-cont {
        width: 80%;
        margin-left: 3rem;
    }
    .shopping-img img, .payment-img img{
        width: 100%;
    }
    .location-phone img {
        width: 80%;
        margin-bottom: 1.5rem;
    }
    .research-img img, .persona-img img, .Prototype-img img, .Testing-img img {
        /* background-color: lightseagreen; */
        width: 100%;
    }
    .research-text p, .persona-text p, .Prototype-text p, .Testing-text p {
        line-height: 1.5;
        margin-top: 2rem;
        text-align: justify;
    }
    .research-text h3, .persona-text h3, .Prototype-text h3, .Testing-text h3 {
        font-size: 1.5rem;
    }
    .dashboard-img-cont {
        text-align: left;
    }
    .dashboard-img{
        width: 100%;
    }
    .dashboard-text h1, .payment-text h1, .shopping-text h1 {
        font-size: 2rem;
    }
    .dashboard-text p, .payment-text p {
        width: 90%;
    }
    
}

@media(max-width: 1172px){
  
    .section-2-left-cont {
        margin-left: 1rem;
        width: 90%;
    }
    .section-2-left-cont .two-phones-cont img{
        width: 40%;
    }
    #Design-systems img, #footer img{
        width: 100%;
    }
    .location-phone img {
        width: 70%;
    }
    .phase {
        height: 195px;
        width: 195px;
        margin-bottom: 1.5rem;
    }
    #cards p{
        width: 55%;
    }
    .phone-screens img {
        width: 100%;
    }
    .typography-cont {
        flex-basis: 45%;
    }
    .iconography-cont {
        flex-basis: 45%;
    }
    .typography-cont p, .iconography-cont p, .buttons-cont p, .colors-cont p{
        width: 100%;
    }

} 

@media(max-width: 990px){
    .project-bg-cont, .project-role-cont {
        width: 90%;
        margin-bottom: 3rem;
    }
    .location-img-cont {
        justify-content: space-between;
        width: 90%;
    }
    #quote h3{
        font-size: 1.5rem;
    }
    #quote .auote-author {
        width: 15%;
    }
    .dashboard-text h1, .payment-text h1, .shopping-text h1 {
        font-size: 1.7rem;
        margin: 1rem 0;
    }
    
}

@media(max-width: 805px){
    .container-fluid {
        height: 90vh;
    }
    .hero-text-cont {
        width: 70%;
        margin-top: 3rem;
    }
    .research-cont, .persona-cont, .Prototype-cont, .Testing-cont  {
        display: flex;
        flex-direction: column;
        margin-bottom: 5rem;
        text-align: center;
        /* background-color: khaki; */
    }
    .persona-text, .Testing-text {
        order: 2;
        margin-top: 3rem;
    }
    .research-text {
        margin-top: 2rem;
    }
    .location-phone {
        margin-bottom: 1.7rem;
    }
}

@media(max-width: 767px){
    .hero-text-cont h1 {
        font-size: 3.2rem;
    }
    .side-text {
        display: none;
    }
    #section-2 {
        background-position: center;
    }
    .section-2-left-cont {
        flex-direction: column;
    }
    .section-2-left-cont h2, .section-2-left-cont p {
        text-align: center;
    }
    #about {
        padding: 3rem;
    }
    .project-bg-cont, .project-role-cont {
        flex-direction: column;
    }
    .break {
        display: none;
    }
    .project-bg-cont p, .project-role-cont p{
        width: 100%;
        line-height: 1.5;
        margin-top: 1rem;
    }
    #quote h3{
        font-size: 1.3rem;
        width: 100%;
    }
    #quote .auote-author hr{
        display: none;
    }
    #quote .auote-author {
        width: 35%;
    }
    #project-phase {
        padding: 3rem 0;
    }   
    .phases h4 {
        margin-bottom: 3rem;
        font-size: 1.4rem;
    }
    #dashboard {
        background-position: right;
    }
    .dashboard-cont, .payment-cont, .shopping-cont {
        display: flex;
        flex-direction: column;
    }
    .dashboard-img-cont {
        text-align: center;
    }
    .dashboard-img, .payment-img{
        width: 80%;
    }
    .payment-text {
        order: 2;
    }
    #location, #support {
        padding: 3rem 0;
    }
    #location h3, #support h3 {
        font-size: 1.2rem;
    }
    .location-img-cont {
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    #cards {
        text-align: center;
    }
    #cards h1 {
        font-size: 2.5rem;
        margin-top: 0;
        margin-left: 0;
    }
    #cards p{
        line-height: 1.5;
        width: 80%;
        margin-left: 0;
        text-align: center;
        font-size: 1rem;
        margin: auto;
    }
    .support-img-cont {
        width: 90%;
        flex-direction: column;
    }
    .support-img-phones img {
        width: 100%;
    }
    .support-phone {
        flex-basis: 31%;
    }
    .support-img-banners {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5rem;
        width: 90%;
    }
    .banner-cont {
        flex-basis: 48%;
    }
    .banner {
        width: 100%;
    }
    #other-screens h3, .design-system-header h3 {
        font-size: 1.4rem;
    }
    .screens-cont {
        width: 100%;
    }
    .side-text {
        width: 80%;
    }
    .design-sys-1, .design-sys-2, .design-sys-3 {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 4rem;
    }
    .typo-2 img {
        width: 100%;
    }
    .typography-cont, .iconography-cont, .buttons-cont, .colors-cont {
        margin-bottom: 2rem;
    }
    .typography-cont p, .iconography-cont p, .buttons-cont p, .colors-cont p {
        width: 100%;
    }
    #footer h3 {
        font-size: 1.5rem;
    }
    #footer img {
        width: 100%;
    }
 
}

@media(max-width: 575px) {
    .container-fluid {
        height: 90vh;
        background-position: center;
    }
    .hero-text-cont{
        margin-top: 4rem;
    }
    .hero-text-cont h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }
    .hero-text-trio p {
        font-size: 0.8rem;
    }
    #section-2 {
        background-position: center;
    }
    .project-bg-cont, .project-role-cont{
        width: 100%;
    }
    #quote h3{
        font-size: 1rem;
    }
    #quote .auote-author {
        width: 45%;
    }
    #project-phase {
        padding: 3rem 0;
    }   
    .phases h4 {
        font-size: 1.2rem;
    }
    .dashboard-cont, .payment-cont, .shopping-cont, .typography-cont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
    }
    #dashboard {
        background-position: center;
    }
    .dashboard-text, .payment-text, .shopping-text {
        width: 100%;
    }
    .dashboard-text h1, .dashboard-text p, .payment-text h1, .payment-text p, .shopping-text p {
        width: 100%;  
    }
    .payment-text h1, .shopping-text h1 {
        font-size: 1.5rem;
    }
    .dashboard-img, .payment-img{
        width: 100%;
    }
    #location, #support {
        padding: 3rem 0;
    }
    #location h3, #support h3 {
        font-size: 1.2rem;
    }
    .location-img-cont {
        width: 100%;
    }
    .location-phone img {
        width: 90%;
    }
    #cards {
        text-align: center;
    }
    #cards h1 {
        font-size: 2rem;
    }
    #cards p{
        width: 90%;
    }
    #other-screens h3, .design-system-header h3 {
        font-size: 1.2rem;
    }
    #screens {
        padding: 3rem 0;
        background-position: center;
    }

}